
  <h1>Registration </h1>


<div class="">
    <h2>Account Information</h2>


  <form (submit)="onSubmit()">
    <div class="">
    *First Name: <input type="text" name="firstname" required minlength="4" maxlength="24" >
    </div>
<div class="">
    *Last Name: <input type="text" name="lastname" required minlength="4" maxlength="24" >
    </div>
    <div class="">
    *Email: <input type="text" name="email" required minlength="4" maxlength="24" >
    </div>
    <div class="">
    *Password: <input type="text" name="password" required minlength="4" maxlength="24" >
    </div>
    <div class="">
    *Address: <input type="text" name="address" required minlength="4" maxlength="24" >
    </div>
    <div class="">
    Unit / Apt.: <input type="text" name="unit">
    </div>
    <div class="">
    * City: <input type="text" name="city"required minlength="4" maxlength="24" >
   </div>
    <div class="">
    * State: <input type="select" name="state" required minlength="4" maxlength="24" >
     </div>
    <div class="">
    * I'm Feeling Lucky: <input type="radio" name="yes">Yes
    <input type="radio" name="no"> No
    </div>
    <div class="">
    <input type="submit" name="submit">
  </div>
</form>

    </div>
